@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: none;
  background-color: rgb(33, 72, 59);
}

button{
  background-color: rgb(65, 177, 139);
}

.TitleInY{
  color: black;
}

.middle{
  text-align: center;
}